
.theme {
  mainLight: #FDFFFC;
  mainDark: #011627;
  color1: #172121;
  color2: #f1641e;
  color3: rgba(71, 117, 134, 1);
  color4: rgba(244, 152, 163, 1);
  color5:rgb(212, 219, 205);
  kashmerColor: #fdebd2;
  lightGreenColor: #d4e9d7
}